# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/dist

# Code editor
.vscode
.idea

# misc
.DS_Store
**/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
